h1{font-size: 60px;
    text-align: center;
    color: red;
}
h2{
    color :white;
}
h3{
    color :white;
}
body {
    background : url("https://i.pinimg.com/originals/ec/14/3c/ec143c9daeb47615cbd3141f86088373.gif");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
a{  font-size: 50px;
    color :red;
}
h5{  text-align: center;
    color : red;
}
p{
    color:red;
    text-align :center;
}
hr {
    height: 4px;
    background-color: red;
}
