body {
  font-family: Arial, sans-serif;
}

header {
  background: grey;
  color: white;
  padding: 20px;
  text-align: center;
}

header a {
  color: white;
  text-decoration: none;
}

header li {
  display: inline;
  padding: 0 10px;
}

header #branding {
  margin-right: 10px;
}

header #branding h1 {
  margin-top: 0;
}

header nav ul {
  margin: 0;
  padding: 0;
}

header nav ul li {
  display: inline;
}

header .highlight, header .current a {
  font-weight: bold;
}

header a:hover {
  color: blue;
}

footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 20px;
}

#newsletter form input[type="email"], .quote input, .quote textarea {
  padding: 10px;
  width: 60%;
  border: none;
  margin-bottom: 20px;
}
#showcase {
  background: rgb(22, 192, 22);
  color: white;
  text-align: center;
  padding: 100px 0;
}

#showcase h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

#showcase p {
  font-size: 1.2em;
}
